/* inria-sans-regular - latin */
@import url('https://fonts.googleapis.com/css2?family=Inria+Sans&family=Inspiration&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@200&display=swap');
:root {
  --font-family-h: 'Inspiration', cursive;
  --font-family-text: 'Cambria', sans-serif;
  --font-family-main: 'Jacques Francois';
  --font-family-new: 'Libre Franklin',  sans-serif;

  --color-gray: #D2D0CA;
  --color-bg-dark: #b08968;
  --color-text: #211D1A;
  --transition: all 0.6s linear;
  --transition-long: all 2s linear;
}